<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    <context:property-placeholder location="playerSettings.properties"/>

    <bean id="FaceAnti"
          class="MUSIC.face.AntiDepresant"/>


    <bean id="musicSettings"
          class="MusicSettings">
        <property name="name" value="${playerSettings.name}"/>
        <property name="volume" value="${playerSettings.volume}"/>
        <property name="music" ref="FaceAnti">
        </property>
    </bean>
</beans>